{% extends 'base.html' %}

{% block title %}
    Edit Application
{% endblock %}

{% block content %}
<div class="col-md-offset-3 col-md-6">
    <h1>Edit application</h1>
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="description">Description</label>
        <input type="text" name="description" id="description" class="form-control" value="{{ app_item['application']['description'] }}" ><br>

        <label for="id">Application ID</label>
        <input type="text" name="id" id="id" class="form-control" value="{{ app_item['application']['id'] }}" ><br>

        <label for="name">Application name</label>
        <input type="text" name="name" id="name" class="form-control" value="{{ app_item['application']['name'] }}" ><br>

        <label for="organizationID">Organization ID</label>
        <input type="text" name="organizationID" id="organizationID" class="form-control" value="{{ app_item['application']['organizationID'] }}" ><br>

        <label for="serviceProfileID">Service Profile ID</label>
        <input type="text" name="serviceProfileID" id="serviceProfileID" class="form-control" value="{{ app_item['application']['serviceProfileID'] }}" ><br>
        <input type="submit" class="btn btn-warning" value="Edit">
        <a type="submit" href="{{ url_for('service.delete_application', application_id=id_item) }}" class="btn btn-danger">Delete</a>
    </form>
</div>
{% endblock %}