{% extends 'base.html' %}

{% block title %}
    Create New Application
{% endblock %}

{% block content %}
<div class="col-md-offset-3 col-md-6">
    <h1>Creation of a new application</h1>
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="description">Description</label>
        <input type="text" name="description" id="description" class="form-control" placeholder="Input description"><br>

        <label for="id">Application ID</label>
        <input type="text" name="id" id="id" class="form-control" placeholder="Input application ID"><br>

        <label for="name">Application name</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Input application name"><br>

        <label for="organizationID">Organization ID</label>
        <input type="text" name="organizationID" id="organizationID" class="form-control" placeholder="Input organizationID"><br>

        <label for="serviceProfileID">Service Profile ID</label>
        <input type="text" name="serviceProfileID" id="serviceProfileID" class="form-control" placeholder="Input ServiceProfileID"><br>
        <input type="submit" class="btn btn-success" value="Create">
    </form>
</div>
{% endblock %}

