{% extends 'base.html' %}

{% block title %}
    New Device Activating
{% endblock %}

{% block content %}
<div class="col-md-offset-3 col-md-6">
    <h1>Activation of a new device</h1>
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <label for="devaddrs">Device address (HEX encoded)</label>
        <input type="text" name="devaddrs" id="devaddrs" class="form-control" placeholder="Input DevAddr" ><br>

        <label for="networksskey">Network session key</label>
        <input type="text" name="networksskey" id="networksskey" class="form-control" placeholder="Input NwkSEncKey"><br>

        <label for="appsskey">Application session key</label>
        <input type="text" name="appsskey" id="appsskey" class="form-control" placeholder="Input AppSKey"><br>

        <label for="deveui">Device EUI</label>
        <input type="text" name="deveui" id="deveui" class="form-control" placeholder="Input DevEUI"><br>

        <input type="submit" class="btn btn-success" value="Activate">
    </form>
</div>
{% endblock %}
